@page
@model azure_app_rafe.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots Page";
}

<div class="text-center">
    <h1 class="display-4">Testing deployment slots</h1>
    <h3>
        Validating the deployment slot feature
    </h3>
</div>